/* styles go here */
.form-field {
  margin-bottom: 10px;
}

fieldset {
  margin-bottom: 20px;
  display: block;
  padding-bottom: 0;
}

.inline-bl {
  display: inline-block;
}

.input-width {
  width: 65px;
}
